asgiref>=3.8.1
Django==6.0.5
djangorestframework==3.17.1
gunicorn==24.0.0
packaging==24.0
pillow==12.2.0
psycopg2-binary==2.9.12
python-decouple==3.8
python-dotenv==1.0.1
sqlparse==0.5.4
tzdata==2024.1
whitenoise==6.12.0
flup==1.0.3
